/* CSS reset from:
	 http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: sans-serif, verdana, arial;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
  text-decoration: none;
}

.reddit-reader {
	display: grid;
	grid-template-columns: 1fr 25%;
	grid-template-rows: auto auto auto 1fr;
	grid-template-areas:
		"header header"
		"subscriptions subscriptions"
		"posts search-bar"
		"posts results";
}

.header {
	grid-area: header;
	font-size: 30px;
	padding: 7px;
	background-color: #cee3f8;
	border-bottom: 1px solid #5f99cf;
}

.header img {
	height: 40px;
}

.subscriptions {
	grid-area: subscriptions;
	display: grid;
	grid-template-columns: auto 1fr;
	margin: 15px 12px 10px 12px;
}

.list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.subscription {
	display: flex;
	align-items: center;
	margin: 2px;
	padding: 2px 0 2px 4px;
	border: 1px solid #444;
	background-color: #7bb850;
	border-radius: 2px;
}

.subscription button {
	margin-left: 3px;
	border: none;
	background-color: transparent;
	color: white;
}

.subscription button:hover {
	cursor: pointer;
}

.posts {
	grid-area: posts;
	border-right: 1px solid #d1d2d3;
	border-top: 1px solid #d1d2d3;
}

.search-bar {
	grid-area: search-bar;
	border-top: 1px solid #d1d2d3;
	padding: 18px 5px 10px 10px;
	font-size: 12px;
}

.search-bar input[type="text"] {
	width: 70%;
	margin: 2px 3px 0 0;
	padding: 3px;
}

.results {
	grid-area: results;
	padding: 0 12px;
}

.result {
	display: flex;
	justify-content: space-between;
	padding: 3px;
	text-align: center;
}

.none {
	font-size: 12px;
	text-align: center;
}

.post {
  display: flex;
  border-bottom: 1px solid #d1d2d3;
  margin: 5px;
  padding: 5px 5px 10px 15px;
  font-size: 12px;
  color: #6a6c6d;
}

.details {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.details > a, .details div {
  padding-bottom: 3px;
}

.thumbnail img {
  width: 80px;
}

.thumbnail:hover {
	cursor: default;
}

.thumbnail img:hover {
	cursor: pointer;
}

.title a {
  font-size: 18px;
}

.comments {
  font-weight: bold;
  color: #616466;
}

.nsfw {
	color: #d10023;
	border: 1px solid red;
	border-radius: 2px;
	padding: 1px 2px;
	margin-right: 5px;
}
