/* CSS reset from:
	 http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: sans-serif, verdana, arial;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
  text-decoration: none;
}

.reddit-reader {
	display: grid;
	grid-template-columns: 1fr 25%;
	grid-template-rows: 24px auto auto 1fr;
	grid-template-areas:
		"header header"
		"subscriptions subscriptions"
		"posts search-bar"
		"posts results";
}

.header {
	grid-area: header;
}

.posts {
	grid-area: posts;
	border-right: 1px solid #d1d2d3;
	border-top: 1px solid #d1d2d3;
}

.search-bar {
	grid-area: search-bar;
}

.results {
	grid-area: results;
}

.post {
  display: flex;
  border-bottom: 1px solid #d1d2d3;
  margin: 5px;
  padding: 5px 5px 10px 5px;
  font-size: 12px;
  color: #6a6c6d;
}

.details > a, .details div {
  padding-bottom: 3px;
}

.details {
  display: flex;
  flex-direction: column;
}

.thumb img {
  width: 80px;
  height: auto;
}

.title a {
  font-size: 18px;
}

.comments {
  font-weight: bold;
  color: #616466;
}
